<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />

    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    {% block css %}
    {% endblock css %}
    
    <title>{% block title %}{% endblock title %} | Hello</title>
  </head>
  <body>
    {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">MyPort</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                See More
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="/customize">Customize</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/developer">Developer</a>
                </li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="/moredetails">More details</a>
                </li>
              </ul>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form>
        </div>
      </div>
    </nav> {% endcomment %}
    <nav class="navbar">
      <div id="trapezoid">
        <a class="sub-home" href="#">Home</a>
        <a href="#About" class="expandHome">About</a>
         <div class="subnav">
         <button class="subnavbtn">Clients<i class="fa fa-caret-down"></i></button>
           <div class="subnav-content">
            <div id="subnav-trapezoid">
              <a href="#Clients">Burger King</a>
              <a href="#Clients">Southwest Airlines</a>
              <a href="#Clients">Levi Strauss</a>
            </div>
           </div>
        </div>
      
         <div class="subnav">
         <button class="subnavbtn">Services<i class="fa fa-caret-down"></i></button>
           <div class="subnav-content">
            <div class="subnav-trapezoid">
              <a href="#Services">Print Design</a>
              <a href="#Services">Web Design</a>
              <a href="#Services">Mobile App Development</a>
             </div>
           </div>
          </div>
        <a href="https://codepen.io/pec-man" class="expandHome">Contact</a>
      </div>
    </nav>
    
    {% if messages %}
    {% for message in messages %}
    <div
      class="alert alert-{{message.tags}} alert-dismissible fade show my-0"
      role="alert">
      {{message}}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endfor %}
    {% endif %}
    {% block body %} {% endblock body %}
  </body>
</html>
